$jump:#545871;
$jump-lighter:#636780;
$jump-lightest:#DADBE6;
$jump-grey:#9597A6;
$jump-light-grey:#F0F1F7;

.font18{
	font-size: 18px;
}
.font20{
	font-size: 20px;
}
.font500{
	font-weight: 500;
}
.font700{
	font-weight: 700;
}
.color-jump{
	color: $jump;
}
.color-jump-grey{
	color: $jump-grey;
}
.color-jump-light-grey{
	color: $jump-light-grey;
}
.color-jump-lighter{
	color: $jump-lighter;
}
.hover{
	text-decoration: underline;
    text-decoration-color: $jump-grey;
}
.jump-grey-hover:hover{
	color: white;
}
.bg-cover{
	background-position: center center;
	background-size: cover;
}
.alert-position{
	position: fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
    margin: auto;
	z-index: 1000;
	text-align: center;
}
.alert-width{
	max-width: 700px;
	max-height: 300px;
}
//以上為工具class    

*, *:before, *:after{
	box-sizing: border-box;
}
body{
	font-family: Microsoft JhengHei, Verdana;
	margin: 0 auto;
}

.bg-jump{
	background-color: $jump;
}
.bg-jump-lightest{
	background-color: $jump-lightest;
}
.brand{
	font-weight: 900;
}
.card-img{
	height: 200px;
	width: 100%;
}
.gotop{
	position: fixed;
	right: 5px;
	bottom: 15px;
    background-color: $jump;
    border-radius: 50px;
    box-shadow: 2px 3px 2px;
}
.gotop:hover{
	background-color: white;
}
